.popup__container {
  margin: 0 auto;
  background-color: white;
  color: black;
  max-width: 430px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px 25px;
  }
}
