.popup__img {
  width: 100%;
  object-fit: cover;
  max-height: 540px;
}

@media screen and (max-width: 767px) {
  .popup__img {
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .popup__img {
    max-width: 240px;
  }
}
