.gallery__like-button {
  background: url('../../../images/like.svg') center no-repeat;
  background-size: 100%;
  border: none;
  height: 22px;
  width: 19px;
  cursor: pointer;
  transition: opacity 0.6s ease;
  border: 0;
  background-color: transparent;
}

.gallery__like-button:hover {
  opacity: 0.5;
}
