.profile__button-add {
  margin-left: auto;
  min-width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  background-image: url('../../../images/icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .profile__button-add {
    margin: 0 auto;
    min-width: 333px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    min-width: 282px;
  }
}
