.header {
  border-bottom: 1px solid rgba(84,84, 84, .7);
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 31px;
    padding-top: 28px;
  }
}
