.button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  margin-left: auto;
  background-image: url('../../images/icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
